extends baseEmail

block content
  p Hola #{firstName},
  p Hemos recibido una solicitud para restablecer tu contraseña. ¡No te preocupes, te ayudamos encantados!
  p Para crear una nueva contraseña, solo tienes que hacer clic en el siguiente botón:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Restablecer contraseña
  
  p ¿No pediste restablecer tu contraseña? En ese caso, puedes ignorar este correo sin problema.
