extends baseEmail

block content
  p Hi #{firstName},
  p Your payment has been successfully received.
  p Thank you for trusting TrackOverload to help you reach your goals.
  p If you need an invoice or have any questions, feel free to reach out.
  p - Juan Torres, CEO
