extends baseEmail

block content
  p Hola #{firstName},
  p Te confirmamos que hemos recibido tu pago correctamente.
  p Gracias por seguir confiando en TrackOverload para alcanzar tus objetivos.
  p Si necesitas una factura o tienes cualquier duda, solo tienes que escribirnos.
  p - Juan Torres, CEO
