extends baseEmail

block content
  p Hola #{firstName},
  p ¡Nos alegra muchísimo que hayas decidido volver a TrackOverload!
  p Seguimos aquí para ayudarte a dar lo mejor de ti en cada entrenamiento.
  p Si necesitas algo, solo tienes que decírmelo.
  p - Juan Torres, CEO
