extends baseEmail

block content
  p Hola #{firstName},
  p Hemos recibido tu solicitud de cancelación.
  p Sentimos que hayas decidido dejar TrackOverload, pero agradecemos que hayas formado parte de nuestra comunidad.
  p Puedes seguir accediendo hasta que termine tu periodo actual. Estás invitado a volver cuando quieras.
  p - Juan Torres, CEO
