extends baseEmail

block content
  p Hola #{firstName},
  p ¡Gracias por activar tu suscripción a TrackOverload!
  p A partir de ahora tendrás acceso completo a todas nuestras funcionalidades para ayudarte a progresar y mantener tu motivación.
  p Si tienes cualquier duda, aquí estoy para ayudarte.
  p - Juan Torres, CEO
