extends baseEmail

block content
  p Hi #{firstName},
  p We're really glad you've decided to return to TrackOverload!
  p We're still here to help you give your best in every workout.
  p If you need anything, just let me know.
  p - Juan Torres, CEO
